<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/show" method="POST">

    <label for="username">name:</label>
    <input type="text" id="name" name="username">
    <br>
    <br>
    <label for="comment">comment:</label>
    <input type="text" id="comment" name="comment">
    <br>
    <br>
    <input type="submit">

</form>


</body>
</html>